<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

        <title>Are We Hackers Yet?</title>
    </head>
    <body>
        <div class="container">
            <h1>Are We Hackers Yet?</h1>
            <p class="lead">Tracking the availability of Kali Linux packages in NixOS</p>
            <ul>
                <li>
                    Packages in <span class="text-success">green</span> are available in the arewehackersyet tree
                </li>
                <li>
                    Packages in <span class="text-danger">red</span> have been looked for and appear to be unpackaged
                </li>
                <li>
                    Packages in <span class="text-secondary">gray</span> haven't been checked yet
                </li>
            </ul>

            <p>
                Contribute at <a href="https://github.com/JJJollyjim/arewehackersyet">github.com/JJJollyjim/arewehackersyet</a>
            </p>

            <div class="accordion">
                <% groups.each do | group_name, packages | %>
                    <div class="card">
                        <div class="card-header row align-items-center" style="padding-left: 0; padding-bottom:0; padding-top: 0; padding-right: 15px; cursor: pointer;" data-toggle="collapse" data-target="#collapse-<%= h(group_name) %>">
                            <h2 class="mb-0 col">
                                <button class="btn btn-link btn-block text-left" type="button" >
                                    <%= h(group_name) %>
                                </button>
                            </h2>

                            <div class="col">
                                <div class="progress">
                                    <div class="progress-bar bg-success" role="progressbar" style="width: <%= 100 * packages.count { |_, val| val != "todo" && val != "cantfind" } / packages.count.to_f %>%"><%= packages.count { |_, val| val != "todo" && val != "cantfind" } %></div>
                                    <div class="progress-bar bg-danger" role="progressbar" style="width: <%= 100 * packages.count { |_, val|val == "cantfind" } / packages.count.to_f %>%"><%= packages.count { |_, val| val == "cantfind" } %></div>
                                    <div class="progress-bar bg-secondary" role="progressbar" style="width: <%= 100 * packages.count { |_, val|val == "todo" } / packages.count.to_f %>%"><%= packages.count { |_, val| val == "todo" } %></div>
                                </div>
                            </div>
                        </div>
                        <div class="collapse" id="collapse-<%= h(group_name) %>">
                            <div class="card-body" style="padding:0">
                                <table class="table" style="margin-bottom: 0">
                                    <thead>
                                        <tr>
                                            <th scope="col">Kali Package</th>
                                            <th scope="col">Description</th>
                                            <th scope="col">Nix derivation</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% packages.each do | package_name, package_val | %>
                                            <% if package_val == "todo" %>
                                                <tr class="alert-secondary">
                                            <% elsif package_val == "cantfind" %>
                                                <tr class="alert-danger">
                                            <% else %>
                                                <tr class="alert-success">
                                            <% end %>
                                                <th scope="row"><%= package_name %></th>
                                                <td><%= descs[package_name] %></td>
                                                <td><%= package_val %></td>
                                            </tr>
                                        <% end %>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                <% end %>
            </div>
        </div>

        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    </body>
</html>

